/* =========================
   VARIABILI GLOBALI PROGETTO
   ========================= */

:root{
    --color-utente-sideBar: #0066CC;
    --color-vettore-sideBar: #e6713e;
    --color-comune-sideBar: #00C383;

}