/* =========================
   VARIABILI GLOBALI PROGETTO
COMUNE:
verde scuro: 007A52
verde normale: 00C383
verde chiaro: 6DE8BF

UTENTE:
blu scuro: 0066CC
blu normale: 00AAFF
blu chiaro: 73a2fc

VETTORE:
arancione scuro: FFB253
arancione normale: FFC277
arancione chiaro: FFE6C8
   ========================= */

:root{
--color-utente: #0066CC;
--color-vettore: #e6713e;
/* coloro comune vecchio 27cd5e*/
--color-comune: #0d8f47;


/* Colori base */
.text-coloreUtente {
   color: var(--color-utente);
}
.text-coloreComune {
   color: var(--color-comune);
}
.text-coloreVettore {
   color: var(--color-vettore);
}

.utente-color-base{
   background-color: var(--color-utente);
}
.vettore-color-base{
   background-color: var(--color-vettore);
}
.comune-color-base{
   background-color: var(--color-comune);
}


/* SideBar */
.sidebar.utente{
   background-color: var(--color-utente);
}
.sidebar.vettore{
   background-color: var(--color-vettore);
}
.sidebar.comune{
   background-color: var(--color-comune);
}

.color-background{
   background-color: #fcfcfc;
}

/* Colori dei components delle corse */
.pending {
   color: #b45309;
}

.bg-pending {
   background: #fefcf6;
}

.prenotata {
   color: #2c51c9;
}

.bg-prenotata {
   background: #eaf2fc; 
}

.effettuata {
   color: #166534;
}
.bg-effettuata {
   background: #e7fcec; 
}


/* Colori per bottoni */
.btn-utente{
  --bs-btn-bg: #0099ff;
  --bs-btn-hover-bg:  #0044FF;
}
.btn-vettore{
  --bs-btn-bg: #ffaa77;
  --bs-btn-hover-bg: #ff8133;
}
.btn-comune{
  --bs-btn-bg: #6de8a4;
  --bs-btn-hover-bg: #00c34b;
}
.btn-comune-crea-vettore{
   background-color: #007A52;
}

/* Extra */
.proggressBar{
  background-color: #8dc3fa;
}

/* Font mergin */
.font-megrim {
  font-family: 'Megrim', cursive;
}

/*contenuto pagina */
.content-wrapper {
  min-width: 100%;
  width: 100%;
}
}