/* =========================
   VARIABILI GLOBALI PROGETTO
COMUNE:
verde scuro: 007A52
verde normale: 00C383
verde chiaro: 6DE8BF

UTENTE:
blu scuro: 0066CC
blu normale: 00AAFF
blu chiaro: 73a2fc

VETTORE:
arancione scuro: FFB253
arancione normale: FFC277
arancione chiaro: FFE6C8
   ========================= */

:root{
--color-utente-sideBar: #0066CC;


--color-vettore-sideBar: #e6713e;


--color-comune-sideBar: #00C383;


.proggressBar{
  background-color: #8dc3fa;
}

.sidebar.utente{
   background-color: #0066CC;
}
.sidebar.vettore{
   background-color: #e6713e;
}
.sidebar.comune{
   background-color: #00C383;
}


.color-background{
   background-color: #fcfcfc;
}

.pending {
   color: #b45309;
}

.bg-pending {
   background: #fefcf6;
}


.prenotata {
   color: #2c51c9;
}

.bg-prenotata {
   background: #eaf2fc; 
}


.effettuata {
   color: #166534;
}
.bg-effettuata {
   background: #e7fcec; 
}

.btn-utente{
  --bs-btn-bg: #00aaff9b;
  --bs-btn-hover-bg:  #00AAFF;
}
.btn-vettore{
  --bs-btn-bg: #FFB253;
  --bs-btn-hover-bg: #FFC277;
}
.btn-comune{
  --bs-btn-bg: #00C383;
  --bs-btn-hover-bg: #6de8bfc8;
}



    
}